<div>
    <h2 data-translate="maderaApp.provider.home.title">Providers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="provider.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="maderaApp.provider.home.createLabel">
                        Create new Provider
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="maderaApp.provider.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="maderaApp.provider.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pc"><span data-translate="maderaApp.provider.pc">Pc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span data-translate="maderaApp.provider.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country"><span data-translate="maderaApp.provider.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone_number"><span data-translate="maderaApp.provider.phone_number">Phone Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mail"><span data-translate="maderaApp.provider.mail">Mail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="provider in vm.providers track by provider.id">
                    <td><a ui-sref="provider-detail({id:provider.id})">{{provider.id}}</a></td>
                    <td>{{provider.name}}</td>
                    <td>{{provider.address}}</td>
                    <td>{{provider.pc}}</td>
                    <td>{{provider.city}}</td>
                    <td>{{provider.country}}</td>
                    <td>{{provider.phone_number}}</td>
                    <td>{{provider.mail}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="provider-detail({id:provider.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="provider.edit({id:provider.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="provider.delete({id:provider.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
