<div>
    <h2 data-translate="maderaApp.principal_cross_section.home.title">Principal Cross Sections</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="principal-cross-section.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="maderaApp.principal_cross_section.home.createLabel">
                        Create new Principal Cross Section
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="maderaApp.principal_cross_section.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="maderaApp.principal_cross_section.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="maderaApp.principal_cross_section.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="principal_cross_section in vm.principal_cross_sections track by principal_cross_section.id">
                    <td><a ui-sref="principal-cross-section-detail({id:principal_cross_section.id})">{{principal_cross_section.id}}</a></td>
                    <td>{{principal_cross_section.name}}</td>
                    <td>{{principal_cross_section.description}}</td>
                    <td>
                        <a ng-if="principal_cross_section.image" ng-click="vm.openFile(principal_cross_section.imageContentType, principal_cross_section.image)">
                            <img data-ng-src="{{'data:' + principal_cross_section.imageContentType + ';base64,' + principal_cross_section.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="principal_cross_section.image">{{principal_cross_section.imageContentType}}, {{vm.byteSize(principal_cross_section.image)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="principal-cross-section-detail({id:principal_cross_section.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="principal-cross-section.edit({id:principal_cross_section.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="principal-cross-section.delete({id:principal_cross_section.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
