
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myModule_componentLabel" data-translate="maderaApp.module_component.home.createOrEditLabel">Create or edit a Module Component</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.module_component.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.module_component.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.module_component.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.module_component.quantity"
                    max="999" />
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.max" data-translate="entity.validation.max" translate-value-max="999">
                    This field cannot be more than 999.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="maderaApp.module_component.module" for="field_module">Module</label>
            <select class="form-control" id="field_module" name="module" ng-model="vm.module_component.module" ng-options="module as module.id for module in vm.modules track by module.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="maderaApp.module_component.component" for="field_component">Component</label>
            <select class="form-control" id="field_component" name="component" ng-model="vm.module_component.component" ng-options="component as component.id for component in vm.components track by component.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
