
<div>
    <h2><span data-translate="maderaApp.pattern.detail.title">Pattern</span> {{vm.pattern.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="maderaApp.pattern.name">Name</span></dt>
        <dd>
            <span>{{vm.pattern.name}}</span>
        </dd>
        <dt><span data-translate="maderaApp.pattern.image">Image</span></dt>
        <dd>
            <div ng-if="vm.pattern.image">
                <a ng-click="vm.openFile(vm.pattern.imageContentType, vm.pattern.image)">
                    <img data-ng-src="{{'data:' + vm.pattern.imageContentType + ';base64,' + vm.pattern.image}}" style="max-width: 100%;"/>
                </a>
                {{vm.pattern.imageContentType}}, {{vm.byteSize(vm.pattern.image)}}
            </div>
        </dd>
        <dt><span data-translate="maderaApp.pattern.assortment">Assortment</span></dt>
        <dd>
            <a ui-sref="assortment-detail({id:vm.pattern.assortment.id})">{{vm.pattern.assortment.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="pattern-detail.edit({id:vm.pattern.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
