//Couleur de fond du menu + sub menu
$backgorund-color-sidenav: #2f4050;

//Couleur de fond des boutons + hover / focus
$background-color-button: #293846;

//Couleur des boutons + <a> sidenav
$color-button: #a7b1c2;

//Couleur des boutons actifs (border-left)
$color-border-active: #056839;

//Couleur boutons sidenav + hover / focus
$color-white: #fff;

//Couleur de fond des headers des tableaux
$background-color-header-table: #2e6da4;

//Couleur des titres secondaires
$color-sub-title: #C21F39;

//Couleur générale
$color-madera: #66bb6a;

//Couleur générale Dark
$color-madera-dark:#1b5e20;
