
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myComponentLabel" data-translate="maderaApp.component.home.createOrEditLabel">Create or edit a Component</h4>
    </div>
    <div class="modal-body" >
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.component.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.component.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.component.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                    ng-model="vm.component.reference"
                    ng-pattern="/^[0-9]{4}-[0-9]{2}-[A-Z]-[A-Z]$/" />
            <div ng-show="editForm.reference.$invalid">
                <p class="help-block"
                    ng-show="editForm.reference.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="^[0-9]{4}-[0-9]{2}-[A-Z]-[A-Z]$">
                    This field should follow pattern "^[0-9]{4}-[0-9]{2}-[A-Z]-[A-Z]$".
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="maderaApp.component.image" for="field_image">Image</label>
            <div>
               <img src="http://res.cloudinary.com/hce6zhs7v/image/upload/{{vm.component.url}}" style="max-height: 100px;" ng-if="vm.component.url"/><br/>
                     <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file)" accept="image/*">
                        Importer une image <span ng-if="vm.file.name">({{vm.file.name}})</span>
                    </button>

        </div>

        <div class="form-group">
            <label data-translate="maderaApp.component.provider" for="field_provider">Provider</label>
            <select class="form-control" id="field_provider" name="provider" ng-model="vm.component.provider" ng-options="provider as provider.id for provider in vm.providers track by provider.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="maderaApp.component.component_nature" for="field_component_nature">Component Nature</label>
            <select class="form-control" id="field_component_nature" name="component_nature" ng-model="vm.component.component_nature" ng-options="component_nature as component_nature.id for component_nature in vm.component_natures track by component_nature.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
