<div>
    <h2 >Modèles</h2>
    <jhi-alert></jhi-alert>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span>Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span>Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assortment"><span>Gamme</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                   
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="result in vm.results track by result.id" ng-form="formName">
                        
                        <td ng-if="result != vm.select">{{result.name}}</td>
                        <td ng-if="result == vm.select"><input ng-model="vm.editData.name" class="form-control" type="text" value="{{result.name}}"  name="name" ng-maxlength="50"/>
                        <span class="input-error" ng-show="!formName.name.$valid">La longueur de ce champs ne doit pas être supérieur à 50 charactères.</span></td>




                     <td ng-if="result != vm.select">
                            <img  ng-if="result.url" src="http://res.cloudinary.com/hce6zhs7v/image/upload/{{result.url}}" style="max-height: 100px;"/>
                    </td>
                    <td ng-if="result == vm.select">
                        

                             <div class="form-group" ngf-drop ngf-change="vm.setImage($file)" ngf-pattern="'image/*'">
                                <div>
                                    <img src="http://res.cloudinary.com/hce6zhs7v/image/upload/{{vm.editData.url}}" style="max-height: 100px;" ng-if="vm.editData.url"/>
                                    <div class="btn mf__btn-file-upload">
                                        <form name="fileinfo" enctype="multipart/form-data" > 
                                            <input enctype="multipart/form-data" type="file" id="upload" name="fileUploadImage" ngf-resize="{width: 500, height:500}"></input>
                                        </form>
                                    </div>
                                </div>
                            </div>

                    </td>


                     <td ng-if="result != vm.select">{{result.assortment.name}}</td>
                        <td ng-if="result == vm.select">

                             <select class="form-control" id="field_assortment" name="assortment" ng-model="vm.editData.assortment" ng-options="assortment as assortment.name for assortment in vm.assortment track by assortment.id">
                                <option value=""></option>
                            </select>
                        </td>
                   


                    
                    <td class="text-right">
                        <div ng-if="result != vm.select" class="btn-group flex-btn-group-container">

                            <button type="submit"
                                    ui-sref="madera-admin.pattern.products({id:result.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-gift"></span>
                                <span class="hidden-xs hidden-sm">Produits</span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.selectElement(result, vm.editData)"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                      
                            <button type="submit"
                                    ui-sref="madera-admin.pattern.delete({id:result.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>

                         <div ng-if="result == vm.select" class="btn-group flex-btn-group-container">
                             <button type="submit"
                                   ng-click="vm.select=-1"
                                    class="btn btn-danger btn-sm" style="min-width:90px">
                                <span class="hidden-xs hidden-sm">Annuler</span>
                            </button>
                             <button type="submit"
                              ng-show="formName.$valid"
                                    ng-click="vm.save(vm.editData,1)"
                                    class="btn btn-success btn-sm" style="min-width:90px">
                                <span class="hidden-xs hidden-sm">Valider</span>
                            </button>
                        </div>

                    </td>



                </tr>

                <!-- Partie ajout -->
                <tr ng-form="formName">
                    <td>
                       <input ng-model="vm.addData.name" class="form-control" type="text"  name="name" ng-maxlength="50"/>
                       <span class="input-error" ng-show="!formName.name.$valid">La longueur de ce champs ne doit pas être supérieur à 50 charactères.</span>
                    </td>
                    <td>
                         <div class="btn mf__btn-file-upload">
                             <form name="fileaddinfo" enctype="multipart/form-data" > 
                                    <input enctype="multipart/form-data" type="file" id="upload" name="fileUploadImage" ngf-resize="{width: 500, height: 500}">
                            </form>
                        </div>
                    </td>
                     <td>
                            <select class="form-control" id="field_assortment" name="assortment" ng-model="vm.addData.assortment" ng-options="assortment as assortment.name for assortment in vm.assortment track by assortment.id">
                                <option value=""></option>
                            </select>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                             <button type="submit"
                                ng-show="formName.$valid"
                                    ng-click="vm.save(vm.addData,2)"
                                    class="btn btn-success btn-sm" style="min-width:90px">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-xs hidden-sm">Ajouter</span>
                            </button>
                        </div>
                    </td>

                </tr>



            </tbody>
        </table>




    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
