
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPrincipal_cross_sectionLabel">Edition des produits</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div>
        <div class="form-group">


        	 <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span>Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="module"><span>Module</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                   
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="product in vm.products track by product.id" ng-form="formName">
                        
                        <td>{{product.name}}</td>
                        <td>{{product.module.name}}</td> 
                    <td class="text-right">

                         <div class="btn-group flex-btn-group-container">
                             
                             <button type="submit"
                              ng-show="formName.$valid"
                                      ui-sref="madera-admin.pattern.products.components({id:product.pattern.id,id_product:product.id})"
                                    class="btn btn-primary btn-sm" style="min-width:90px">
                                <span class="hidden-xs hidden-sm">Composants</span>
                            </button>
                            <button type="submit"
                                   ng-click="vm.deleteProduct(product)"
                                    class="btn btn-danger btn-sm" style="min-width:90px">
                                <span class="hidden-xs hidden-sm">Supprimer</span>
                            </button>
                        </div>
                    </td>
                </tr>

                <!-- Partie ajout -->
                <tr ng-form="formName">
                    <td><input type="text" class="form-control" name="product-name" ng-model="vm.addName" /></td>
                    <td><select class="form-control" id="field_module" name="module" ng-model="vm.crtModule" ng-options="module as module.name for module in vm.modules track by module.id">
	                  <option value=""></option>
	             </select></td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                             <button type="submit"
                                ng-show="formName.$valid"
                                    ng-click="vm.addModule()"
                                    class="btn btn-success btn-sm" style="min-width:90px">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-xs hidden-sm">Ajouter</span>
                            </button>
                        </div>
                    </td>

                </tr>



            </tbody>
        </table>







        	



        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Fermer</span>
        </button>
        
    </div>