
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myModuleLabel" data-translate="maderaApp.module.home.createOrEditLabel">Create or edit a Module</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.module.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.module.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.module.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.module.name"
                    ng-maxlength="50" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setCctp($file, vm.module)">
            <label class="control-label" data-translate="maderaApp.module.cctp" for="field_cctp">Cctp</label>
            <div>
                <div ng-if="vm.module.cctp" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.module.cctpContentType, vm.module.cctp)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.module.cctpContentType}}, {{vm.byteSize(vm.module.cctp)}}</span>
                    <button type="button" ng-click="vm.module.cctp=null;vm.module.cctpContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setCctp($file, vm.module)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="cctp" id="field_cctp"
                    ng-model="vm.module.cctp"
                     />
            <input type="hidden" class="form-control" name="cctpContentType" id="field_cctpContentType"
                    ng-model="vm.module.cctpContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.module.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.module.price"
                     />
        </div>

        <div class="form-group">
            <label data-translate="maderaApp.module.principal_cross_section" for="field_principal_cross_section">Principal Cross Section</label>
            <select class="form-control" id="field_principal_cross_section" name="principal_cross_section" ng-model="vm.module.principal_cross_section" ng-options="principal_cross_section as principal_cross_section.name for principal_cross_section in vm.principal_cross_sections track by principal_cross_section.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="maderaApp.module.module_nature" for="field_module_nature">Module Nature</label>
            <select class="form-control" id="field_module_nature" name="module_nature" ng-model="vm.module.module_nature" ng-options="module_nature as module_nature.name for module_nature in vm.module_natures track by module_nature.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="maderaApp.module.assortment" for="field_assortment">Assortment</label>
            <select class="form-control" id="field_assortment" name="assortment" ng-model="vm.module.assortment" ng-options="assortment as assortment.name for assortment in vm.assortments track by assortment.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
