<div>
    <h2 data-translate="maderaApp.cover_type.home.title">Cover Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cover-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="maderaApp.cover_type.home.createLabel">
                        Create new Cover Type
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="maderaApp.cover_type.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="maderaApp.cover_type.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cover_type in vm.cover_types track by cover_type.id">
                    <td><a ui-sref="cover-type-detail({id:cover_type.id})">{{cover_type.id}}</a></td>
                    <td>{{cover_type.name}}</td>
                    <td>
                        <a ng-if="cover_type.image" ng-click="vm.openFile(cover_type.imageContentType, cover_type.image)">
                            <img data-ng-src="{{'data:' + cover_type.imageContentType + ';base64,' + cover_type.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="cover_type.image">{{cover_type.imageContentType}}, {{vm.byteSize(cover_type.image)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cover-type-detail({id:cover_type.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cover-type.edit({id:cover_type.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cover-type.delete({id:cover_type.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
