<div>
    <h2 data-translate="maderaApp.quotation.home.title">Quotations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="quotation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="maderaApp.quotation.home.createLabel">
                        Create new Quotation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="maderaApp.quotation.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="maderaApp.quotation.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="maderaApp.quotation.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commercial_percentage"><span data-translate="maderaApp.quotation.commercial_percentage">Commercial Percentage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span data-translate="maderaApp.quotation.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assortment.id"><span data-translate="maderaApp.quotation.assortment">Assortment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.id"><span data-translate="maderaApp.quotation.customer">Customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quotation in vm.quotations track by quotation.id">
                    <td><a ui-sref="quotation-detail({id:quotation.id})">{{quotation.id}}</a></td>
                    <td>{{quotation.name}}</td>
                        <td>{{quotation.date | date:'mediumDate'}}</td>
                    <td>{{quotation.state}}</td>
                    <td>{{quotation.commercial_percentage}}</td>
                    <td>{{quotation.reference}}</td>
                    <td>
                        <a ui-sref="assortment-detail({id:quotation.assortment.id})">{{quotation.assortment.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer-detail({id:quotation.customer.id})">{{quotation.customer.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="quotation-detail({id:quotation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="quotation.edit({id:quotation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="quotation.delete({id:quotation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
