
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuotationLabel" data-translate="maderaApp.quotation.home.createOrEditLabel">Create or edit a Quotation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.quotation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.quotation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.quotation.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.quotation.name"
                    ng-maxlength="50" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.quotation.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.quotation.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.quotation.state" for="field_state">State</label>
            <input type="number" class="form-control" name="state" id="field_state"
                    ng-model="vm.quotation.state"
                    max="9" />
            <div ng-show="editForm.state.$invalid">
                <p class="help-block"
                    ng-show="editForm.state.$error.max" data-translate="entity.validation.max" translate-value-max="9">
                    This field cannot be more than 9.
                </p>
                <p class="help-block"
                    ng-show="editForm.state.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.quotation.commercial_percentage" for="field_commercial_percentage">Commercial Percentage</label>
            <input type="number" class="form-control" name="commercial_percentage" id="field_commercial_percentage"
                    ng-model="vm.quotation.commercial_percentage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="maderaApp.quotation.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                    ng-model="vm.quotation.reference"
                    ng-pattern="/^[0-9]{4}-[0-9]{2}-[A-Z]-[A-Z]$/" />
            <div ng-show="editForm.reference.$invalid">
                <p class="help-block"
                    ng-show="editForm.reference.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="^[0-9]{4}-[0-9]{2}-[A-Z]-[A-Z]$">
                    This field should follow pattern "^[0-9]{4}-[0-9]{2}-[A-Z]-[A-Z]$".
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="maderaApp.quotation.assortment" for="field_assortment">Assortment</label>
            <select class="form-control" id="field_assortment" name="assortment" ng-model="vm.quotation.assortment" ng-options="assortment as assortment.id for assortment in vm.assortments track by assortment.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="maderaApp.quotation.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.quotation.customer" ng-options="customer as customer.id for customer in vm.customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
